.add-new-pack{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
    h2{
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
    }
}