.button {
    height: 30px;
    color: white;
    width: 132px;
    border-radius: 3px;
}

.disabled {
    background-color: #004D99;
}

.secondary {
    width: 167px;
    background-color: #E5F0FA;
    border: 1px solid #0066CC;
    color: #0066CC
}

.default {
    background-color: #0066CC;
}

.red {
    background-color: #CC1439;
}

.default:hover {
    width: 167px;
    background-color: #0080FF;
    transition: 0.5s;
}

.red:hover {
    background-color: #FF1A47;
    width: 167px;
    transition: 0.5s;
}

.secondary:hover {
    background-color: #E5F0FA;
    border: 1px solid #0066CC;
    transition: 0.5s;
}


.default:active {
    background: #0059B2;
    width: 149px;
}

.secondary:active {
    background: #C9E5FF;
    width: 149px;
} 

.red:active {
    background: #B31232;
    width: 149px;
}

.button:disabled {
    opacity: 0.5;
}
